__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.env
.env.*
!.env.example
*.log
*.sqlite
*.db
.git/
.pytype/
coverage/
htmlcov/
tests/
data/
**/data/
dif.txt
commands.txt
*.md
!README.md
